/*******************
Colors:

Light Blue: #59A1C9
Dark Blue: #1E3F57
Green: #34B3A0
Red: #F65A5B
Gray 1: #F1F2F2
Gray 2: #E6E7E8
Gray 3: #BCBEC0
Gray 4: #939598
*******************/

/* importing custom fonts */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url('https://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcVtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url('https://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2ltXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
}

@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url('https://fonts.gstatic.com/s/oxygenmono/v4/BzV4DVOwAgGelLT9EC5xyo4P5ICox8Kq3LLUNMylGO4.woff2') format('woff2');
}

/* styles */
body, .user-main .user-stream .item {
  background-color: #FAFAFA;
}

.user-menu .menu-links-row a {
  transition: all linear 0.15s;
}

.user-menu .menu-links-row a:hover {
  background-color: #E2EDF4;
}

.moderator .topic-body {
  background-color: rgba(255, 198, 0, 0.4) !important;
}

.topic-list > tbody > tr,
.topic-list > tbody > tr:first-of-type,
.topic-body,
.topic-avatar,
#topic-closing-info,
hr,
a.mention,
blockquote,
.quote .title {
  border-color: #BCBEC0 !important;
}

#topic-title h1 {
  line-height: 1.4em !important;
}

.external-link-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: #204056;
}

.docked .d-header .title-wrapper > .ember-view .external-link-button {
  position: relative;
  top: 4px;
}

.external-user-link {
  margin-left: 8px;
}

.cooked code {
  font-family: 'Oxygen Mono', monospace;
}

.cooked img:not(.emoji), .cooked pre {
  border: 1px solid #BCBEC0;
}

.cooked, textarea.d-editor-input {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.cooked h1, .cooked h2, .cooked h3, .cooked h4, .cooked h5, .cooked h6 {
  color: #1E3F57;
}

.cooked p, .cooked li {
  color: #4A4A4C !important;
}

.cooked a:not(.mention), .cooked aside.onebox .onebox-body a {
  color: #F65A5B;
}

.cooked a:not(.mention):hover {
  text-decoration: underline;
}

aside.onebox header a, aside.onebox header a:hover {
  color: #4A4A4C;
  text-decoration: none;
}

.cooked .quote .title a, .cooked .quote .title a:hover {
  color: #59A1C9;
  text-decoration: none;
}

.cooked p, .cooked ul, .cooked ol {
  font-size: 16px;
  line-height: 22px;
}

.expanded-quote .highlighted {
  background-color: #59A1C9;
  color: #FAFAFA;
}

.quote, blockquote, aside.onebox {
  border: 1px solid #BCBEC0;
  border-left: 5px solid #BCBEC0;
  margin: 0;
}

.quote blockquote, .quote .title, .d-editor-button-bar .quote {
  border: 0 !important;
}

aside.onebox, a.mention, blockquote, .quote .title, pre, code {
  background-color: #E6E7E8 !important;
}

.quote-controls, .quote-controls .back::before, nav.post-controls button {
  color: #BCBEC0;
  opacity: 1 !important
}

.d-editor-button-bar.active {
  max-height: 75%;
  height: auto !important;
  overflow-y: auto;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 8px #34B3A0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 8px #34B3A0;
  border: 1px solid #34B3A0;
  border-bottom: 1px solid #34B3A0 !important;
  border-radius: 0 0 4px 4px;
}

.d-editor-button-bar button.btn:hover {
  color: white !important;
}

.canned-response-container {
  display: inline-block !important;
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

.canned-response-container ul {
  padding: 5px 4px 0;
  margin: 0;
}

.canned-response-container li {
  position: relative;
  min-height: 1em;
  cursor: pointer;
  list-style: none;
  padding: 3px 7px 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.canned-response-container .fa-trash {
  position: absolute;
  top: 6px;
  right: 7px;
}

.canned-response-container .fa-trash:hover {
  color: #F05B5C;
}

.canned-response-container li:hover,
.select2-results li:hover,
.user-menu .notifications li:hover,
.user-menu .notifications li a:hover,
.menu-panel ul.menu-links li a:hover,
.menu-panel ul li.heading a:hover{
  background-color: #F1F2F2 !important;
}

.canned-response-container li .name,
.canned-response-container #new-canned-response {
  color: #4080AC;
}