/*******************
Colors:

Light Blue: #59A1C9
Dark Blue: #1E3F57
Green: #34B3A0
Red: #F65A5B
Gray 1: #F1F2F2
Gray 2: #E6E7E8
Gray 3: #BCBEC0
Gray 4: #939598
*******************/

body, .user-main .user-stream .item {
  background-color: #FAFAFA;
}

.topic-list > tbody > tr, .topic-list > tbody > tr:first-of-type, .topic-body, .topic-avatar, #topic-closing-info, hr, a.mention, blockquote, .quote .title {
  border-color: #BCBEC0 !important;
}

a.mention, blockquote, .quote .title, pre, code {
  background-color: #E6E7E8 !important;
}

.quote-controls, nav.post-controls button {
  color: #BCBEC0;
  opacity: 1 !important
}

nav.post-controls button:not(button.like):hover {
  background-color: #E6E7E8;
}

.wmd-canned-response-button::before {
  content: "\f044";
}

.canned-response-container {
  display: inline-block;
  width: 100%;
  max-height: 75%;
  height: auto;
  overflow-y: auto;
}

.canned-response-container ul {
  padding: 0 0 0 8px;
  margin: 0;
}

.canned-response-container li {
  padding: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.canned-response-container li:hover {
  background-color: #F1F2F2;
}