/*******************
Colors:

Red: #F65A5B
Green: #34B3A0
Blue: #204056
*******************/

.new-cc-icon.icon-bell.attention::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  background-color: #F65A5B;
  border-radius: 50%;
}

footer#footer #footer__main h5 strong {
  font-weight: bold;
}